aclocal.m4
autom4te.cache/
build/
buildlib/config.guess
buildlib/config.sub
configure
debian/copyright
doc/de/
doc/es/
doc/fr/
doc/it/
doc/ja/
doc/pl/
doc/pt/
doc/pt_BR/
doc/examples/sources.list
marks.bzr
marks.git
