# Unify user identities
Christian Perrier <bubulle@debian.org>
<ian@davenant.greenend.org.uk> <ian@anarres>
<ian@davenant.greenend.org.uk> <ian@liberator>
<jackyf@debian.org> <jackyf@1501-debian>
Michael Vogt <mvo@debian.org> <egon@debian-vm>
<mvo@debian.org> <egon@bottom>
<mvo@debian.org> <egon@debian-devbox>
<mvo@debian.org> <egon@pop>
<mvo@debian.org> <egon@tas>
<michael.vogt@ubuntu.com> <mvo@ubuntu.com>
# Name changes
Peter Krefting <peterk@debian.org>
# Email as user name
Christian Perrier <bubulle@debian.org> bubulle@debian.org <>
Julian Andres Klode <jak@debian.org> jak@debian.org <>
Loïc Minier <lool@dooz.org> lool@dooz.org <>
Martin Pitt <martin@piware.de> martin@piware.de <>
