# Aliases
<mvo@ubuntu.com> <michael.vogt@ubuntu.com>

# Use real mail addresses
<ijackson@chiark.greenend.org.uk> <ian@anarres>
<ijackson@chiark.greenend.org.uk> <ian@liberator>
<jackyf@debian.org> <jackyf@1501-debian>
Michael Vogt <mvo@debian.org> <egon@debian-vm>
<mvo@debian.org> <egon@bottom>
<mvo@debian.org> <egon@debian-devbox>
<mvo@debian.org> <egon@pop>
<mvo@debian.org> <egon@tas>

# Very broken names
Christian Perrier <bubulle@debian.org> bubulle@debian.org <>
Julian Andres Klode <jak@debian.org> jak@debian.org <>
Loïc Minier <lool@dooz.org> lool@dooz.org <>
Martin Pitt <martin@piware.de> martin@piware.de <>

# Spell names properly
Christian Perrier <bubulle@debian.org>
Joe Hansen <joedalton2@yahoo.dk>
Johannes Schauer Marin Rodrigues <j.schauer@email.de>
Johannes Schauer Marin Rodrigues <josch@debian.org>
Johannes Schauer Marin Rodrigues <josch@mister-muffin.de>
Michael Vogt <mvo@debian.org>
Peter Krefting <peterk@debian.org>
Trần Ngọc Quân <vnwildman@gmail.com>
