#!/usr/bin/make -f
# Made with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Christoph Lameter.
# $Id: rules,v 1.8 1999/03/16 09:43:41 mblevin Exp $


# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Find the libapt-pkg major version for use in other control files
export LIBAPT_MAJOR=`egrep '^MAJOR=' apt-pkg/makefile |cut -d '=' -f 2`

build: build-stamp
build-stamp: configure
	dh_testdir
	mkdir build
	make startup
	cd build; ../configure
	cd ..
#	cd build && CXXFLAGS="-g -Wall -D_POSIX_C_SOURCE=199309" ../configure --disable-nls --disable-static --prefix=/usr
#	cd build && make all-hdr
#	cd build && make -s
	
	# Add here commands to compile the package.
	make
	touch build-stamp

clean:
	dh_testdir
#	dh_testroot
	rm -f build-stamp
	rm -rf build

	# Add here commands to clean up after the build process.
	-$(MAKE) clean
	-$(MAKE) distclean
	dh_clean

# Build architecture-independent files here.
binary-indep: build libapt-pkg-doc
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build apt libapt-pkg-dev

apt: build
#	dh_testversion -papt
	dh_testdir -papt
	dh_testroot -papt
	dh_clean -papt -k
	dh_installdirs -papt usr/bin usr/lib/apt/methods usr/lib/dpkg/methods/apt etc/apt usr/doc/apt var/cache/apt/archives/partial var/state/apt/lists/partial

	cp build/bin/apt-* debian/tmp/usr/bin/
	
	# install the shared libs
	find build/bin/ -type f -name "libapt-pkg.so.*" -exec cp -a "{}" debian/tmp/usr/lib/ \;
	find build/bin/ -type l -name "libapt-pkg.so.*" -exec cp -a "{}" debian/tmp/usr/lib/ \;

	cp build/bin/methods/* debian/tmp/usr/lib/apt/methods/

	cp build/scripts/dselect/* debian/tmp/usr/lib/dpkg/methods/apt/
#	cp debian/sources.list debian/tmp/etc/apt/

	# Copy the users guide	
	cp build/docs/guide.text debian/tmp/usr/doc/apt/users-guide.txt
	mkdir debian/tmp/usr/doc/apt/users-guide.html/
	cp -a build/docs/guide.html/* debian/tmp/usr/doc/apt/users-guide.html/
	
	# Copy the offline guide	
	cp build/docs/offline.text debian/tmp/usr/doc/apt/offline.txt
	mkdir debian/tmp/usr/doc/apt/offline.html/
	cp -a build/docs/offline.html/* debian/tmp/usr/doc/apt/offline.html/
	
	cp -a debian/dhelp debian/tmp/usr/doc/apt/.dhelp
	
#	head -n 500 ChangeLog > debian/ChangeLog

	dh_installdocs -papt 
	dh_installexamples -papt build/docs/examples/*
#	dh_installmenu -papt
#	dh_installinit -papt
#	dh_installcron -papt
	dh_installmanpages -papt

#	dh_undocumented -papt
	dh_installchangelogs -papt
	dh_strip -papt
	dh_compress -papt
	dh_fixperms -papt
	dh_suidregister -papt
	dh_installdeb -papt
	LD_LIBRARY_PATH=debian/tmp/usr/lib dh_shlibdeps -papt
	echo libapt-pkg:major=${LIBAPT_MAJOR} >> debian/substvars
	dh_gencontrol -papt
	dh_makeshlibs -m${LIBAPT_MAJOR} -Vlibapt-pkg${LIBAPT_MAJOR} -papt
	dh_md5sums -papt
	dh_builddeb -papt

libapt-pkg-dev: build
	dh_testdir -plibapt-pkg-dev
	dh_testroot -plibapt-pkg-dev
	dh_clean -plibapt-pkg-dev -k
	dh_installdirs -plibapt-pkg-dev usr/lib usr/include/apt-pkg
	
	ln -s libapt-pkg.so.${LIBAPT_MAJOR} debian/libapt-pkg-dev/usr/lib/libapt-pkg.so

	cp build/include/apt-pkg/*.h debian/libapt-pkg-dev/usr/include/apt-pkg/

	dh_installdocs -plibapt-pkg-dev
	dh_installchangelogs -plibapt-pkg-dev
	dh_strip -plibapt-pkg-dev
	dh_compress -plibapt-pkg-dev
	dh_fixperms -plibapt-pkg-dev
	dh_installdeb -plibapt-pkg-dev
	dh_shlibdeps -plibapt-pkg-dev
	echo libapt-pkg:major=${LIBAPT_MAJOR} >> debian/libapt-pkg-dev.substvars
	dh_gencontrol -plibapt-pkg-dev
	dh_md5sums -plibapt-pkg-dev
	dh_builddeb -plibapt-pkg-dev

libapt-pkg-doc: build
	dh_testdir -plibapt-pkg-doc
	dh_testroot -plibapt-pkg-doc
	dh_clean -plibapt-pkg-doc -k
	dh_installdirs -plibapt-pkg-doc usr/doc/apt usr/doc/libapt-pkg-doc

	cp -a build/docs/cache* build/docs/design* build/docs/dpkg-tech* \
	  build/docs/files* build/docs/method* debian/libapt-pkg-doc/usr/doc/apt/
	cp -a debian/libapt-pkg-doc.dhelp debian/libapt-pkg-doc/usr/doc/libapt-pkg-doc/.dhelp

	dh_installdocs -plibapt-pkg-doc
	dh_installchangelogs -plibapt-pkg-doc
	dh_strip -plibapt-pkg-doc
	dh_compress -plibapt-pkg-doc
	dh_fixperms -plibapt-pkg-doc
	dh_installdeb -plibapt-pkg-doc
	dh_shlibdeps -plibapt-pkg-doc
	dh_gencontrol -plibapt-pkg-doc
	dh_md5sums -plibapt-pkg-doc
	dh_builddeb -plibapt-pkg-doc

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

# Update from CVS
l33ch: really-clean
	cvs update
	buildlib/mkChangeLog

# Update from CVS and then configure for build
super-l33ch: l33ch Makefile.in

configure:
	make startup

l33ch-stamp: super-l33ch
	touch l33ch-stamp

really-clean: clean
	-find -name Makefile.in -print0 | xargs -0r rm -f
	find -name ChangeLog | xargs rm -f
	rm -f l33ch-stamp

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
